<%= from_for articles_path do %>
<label>Article title:</label>
<%= text_field_tag :title %><br> 

<label>Article Description</label><br> 

<%= text_area_tag :description %><br> 

<%= submit_tag "Submit Article" %> 
<% end %> 